body {
  font-family: 'Inter', sans-serif;
  background-color: #f7f7f7;
}

.image-container::-webkit-scrollbar {
  width: 8px;
}
.image-container::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}
.image-container::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 10px;
}
.image-container::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
